.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
overridedb.*
**/*.iml
*.ipr
*.iws
.idea
*.jar
.DS_Store
#src/docs/**/generated
/.idea/vcs.xml
/.apt_generated/
